.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: #000;
    color: #fff;
  }
  
  .nav-menu > li + li {              
    border-top: 1px solid #ccc;
  }
  
  .nav-menu > li > a {
    display: block;
    padding: 0.8em 1em;              
    color: #fff;
    font-weight: normal;
  }
  